<div id="main_wraper">
    <div id="wraper">
        <h1>{{{title}}}</h1>
        <h4>

            Introduction:

            Darussalam is an International Islamic Publishing House, headquartered in Riyadh,
            Kingdom of Saudi Arabia, and branches and agents in major cities around the world. Mr. 
            Abdul Malik Mujahid established Darussalam in 1986. This International Organization has achieved a lot of success
            within the last two decades and is renowned across the Muslim world and beyond in the field of Islamic publishing. 
            This success is attributed to the efforts of more than 250 research scholars, experts and workers of the institution.
            This institution is known for the propagation of the Quran and Sunnah.
            Darussalam considers it a priority to maintain international publishing standards in terms of quality and content.
        </h4>

    </div>
</div>