<div id="main_wraper">
    <div id="wraper">
        <h1>Profile Detail of Mr/Mrs :{{title}}</h1>
        <p>
        <div class="user_detail_attr">Email :</div> {{info.email}}  <br>
        <div class="user_detail_attr">  Name :  </div>  {{info.first_name}} <br>
        <div class="user_detail_attr"> Last Name : </div>   {{info.last_name}} <br> 
        <div class="user_detail_attr">  Contact :  </div>  {{info.contact}} <br> 
        <div class="user_detail_attr">  Gender :  </div>  {{info.gender}} <br> 
        </p>
    </div>
</div>